<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/biologi_sma"
        android:label="@string/app_name"
        android:roundIcon="@drawable/biologi_sma"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplikasi_Biologi_SMA_Final"
        tools:targetApi="31">
        <activity
            android:name=".ApaYangBaru"
            android:exported="false" />
        <activity
            android:name=".QuizEkosistem"
            android:exported="false" />
        <activity
            android:name=".ekosistem"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".Fauna"
            android:exported="false" />
        <activity
            android:name=".QuizFauna"
            android:exported="false" />
        <activity
            android:name=".QuizFlora"
            android:exported="false" />
        <activity
            android:name=".Flora"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Materi"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>